body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color for contrast */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e; /* Slightly lighter dark background for the container */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5em;
    color: #fff; /* Light text color */
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 14px;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    padding: 10px;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
}

li:last-child {
    border-bottom: 0;
}

li span {
    font-size: 1.5em;
}

li button {
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

li button:hover {
    background-color: #444;
}

.task.completed {
    text-decoration: line-through;
    color: #bbb;
}

.head{
    align-content: center;
}